*{
	margin: 0px;
	padding: 0px;
	border: 0;
}
nav a{
	padding-top: 2px !important;
	padding-bottom: 2px !important;
	border-radius: 3px !important;
}
nav a:hover{
	background: orange !important;
}
nav ul{
	bottom: 20px;
	right: 0;

}
nav{
	height: 100px;
}
nav img{
	padding-top: 20px;
}
#sesion-cadi .input-group{
	margin-bottom: 20px;
}
.panel{
	margin-top: 20px;
}
.col-sm-3{
	color: white;
	padding: 10px;
}
#servicios{
	background: rgb(0,84,143);
	height: 250px;
}
#servicios article{
	height: 250px;
}
#servicios article:hover{
	background: orange;
	}
main{
	margin-top: 100px;
}
.cont-serv{
	width: 80%;
	margin: auto;
}
#myNavbar{
	position: relative;
	right: 20px;
	top: 50px;
}
.container-fluid{
	margin: 0px;
	
}